{% extends 'layout.html' %}

{% block body %}
    <h1>Terms of Use and Privacy Information</h1>
    <hr>

    <p><strong>Legal Notice as Required by the State of Texas</strong></p>
    <p><strong>Displaying the following notice pertaining to the use of systems in Texas Higher Education entities is required per Texas Administrative Code (Title 1, Part 10, Chapter 202): </strong></p>
    <p>(A) Unauthorized use is prohibited;</p>
    <p>(B) Usage may be subject to security testing and monitoring;</p>
    <p>(C) Misuse is subject to criminal prosecution;</p>
    <p>(D) No expectation of privacy except as otherwise provided by applicable privacy laws.</p>
    <p>Unauthorized Access Prohibited.</p>
    <hr>

    <p><strong>Respondus Lockdown Browser Installation</strong></p>
    <p>If you are required to use Respondus Lockdown Browser for exams, we recommend that you uninstall any previously installed version and reinstall the latest version from the link below.</p>
    <p>Go here to install: <a href="http://www.respondus.com/lockdown/information.pl?ID=354814027">http://www.respondus.com/lockdown/information.pl?ID=354814027</a></p>
    <hr>

    <p><strong>About Blackboard Environments</strong></p>
    <p> Your are currently on Blackboard 2.0 platform BETA. This localhost is for testing purpose only.</p>
    <p>See <a href="https://www.uhd.edu/computing/blackboard/Pages/UHDBlackboard.aspx">Blackboard@UHD</a> page for UHD BLACKBOARD 1 (Fall, Winter Mini & Spring Courses), UHD BLACKBOARD 2 (May Mini & Summer Courses), and  further information.</p>
{% endblock %}
